<template>
<div>
    <v-app-bar
    color="primary"
    prominent
    >
    <v-app-bar-nav-icon variant="text" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

    <v-toolbar-title>Dev Nuxt3</v-toolbar-title>

    <v-spacer></v-spacer>

    <v-btn variant="text" icon="mdi-magnify"></v-btn>

    <v-btn variant="text" icon="mdi-filter"></v-btn>

    <v-btn variant="text" icon="mdi-dots-vertical"></v-btn>
    </v-app-bar>

    <v-navigation-drawer
    v-model="drawer"
    expand-on-hover
        rail
    >
    <v-list density="compact" nav>
      <v-list-item prepend-icon="mdi-folder" title="My Home" value="myhome" to="/"></v-list-item>
      <v-list-item prepend-icon="mdi-account-multiple" title="Login" value="login" to="/login"></v-list-item>
      <v-list-item prepend-icon="mdi-star" title="Register" value="register" to="/register"></v-list-item>
    </v-list>
    </v-navigation-drawer>
</div>
</template>

<script>
  export default {
    data: () => ({
      drawer: true,
      group: null,
    }),

    watch: {
      group () {
        this.drawer = false
      },
    },
  }
</script>