<template>
  <v-card
      elevation="0"
      rounded="0"
      width="100%"
      class="bg-grey text-center app-footer"
    >
      <v-card-text>
        <v-btn
          class="mx-4"
          icon="mdi-home"
          variant="plain"
        ></v-btn>
        <v-btn
          class="mx-4"
          icon="mdi-email"
          variant="plain"
        ></v-btn>
        <v-btn
          class="mx-4"
          icon="mdi-calendar"
          variant="plain"
        ></v-btn>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-text class="text-white">
        {{ new Date().getFullYear() }} — <strong>Phingo Soft</strong>
      </v-card-text>
    </v-card>
</template>
<style>
.app-footer{
    bottom: 0;
}
</style>