<template>
  <v-app>
    <v-main>
        <v-parallax src="https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg">
        <div class="d-flex flex-column fill-height justify-center align-center">
            <slot />
        </div>
    </v-parallax>
    </v-main>
  </v-app>
</template>