<template>
  <v-app>
    <AppBar/>
    <v-main>
      <v-container fluid>
        <slot />
      </v-container>
    </v-main>
    <PageFooter/>
  </v-app>
</template>

<script setup>
const route = useRoute()

useHead({
  meta: [{ name: 'og:title', content: `nuxt3-demo - ${route.meta.title}` }]
})
</script>

<script>
export default {
  data: () => ({
    drawer: false,
    group: null,
    items: [
      {
        title: 'Foo',
        value: 'foo',
      },
      {
        title: 'Bar',
        value: 'bar',
      },
      {
        title: 'Fizz',
        value: 'fizz',
      },
      {
        title: 'Buzz',
        value: 'buzz',
      },
    ],
  }),

  watch: {
    group () {
      this.drawer = false
    },
  },
}
</script>