<template>
  <div>
    <v-row>
      <v-col cols="9">
        <v-row>
          <v-col>
            <v-card
              border
              class="mb-2"
              density="compact"
              prepend-avatar="https://randomuser.me/api/portraits/women/10.jpg"
              subtitle="Salsa, merengue, y cumbia"
              title="Cuba"
              variant="text"
            >
              <v-img src="https://picsum.photos/512/128?image=660" height="128" cover></v-img>

              <v-card-text>
                During my last trip to South America, I spent 2 weeks traveling through Patagonia in Chile.
              </v-card-text>

              <template v-slot:actions>
                <v-btn color="primary" variant="text">View More</v-btn>

                <v-btn color="primary" variant="text">See in Map</v-btn>
              </template>
            </v-card>

            <v-card
              border
              density="comfortable"
              prepend-avatar="https://randomuser.me/api/portraits/women/17.jpg"
              subtitle="Salsa, merengue, y cumbia"
              title="Florida"
              variant="text"
            >
              <v-img src="https://picsum.photos/512/128?random" height="128" cover></v-img>

              <v-card-text>
                During my last trip to Florida, I spent 2 weeks traveling through the Everglades.
              </v-card-text>

              <template v-slot:actions>
                <v-btn color="primary" variant="text">View More</v-btn>

                <v-btn color="primary" variant="text">See in Map</v-btn>
              </template>
            </v-card>
          </v-col>
        </v-row>

        <v-row>
          <v-col>
            <v-card tonal>
              <v-card-title>Tabled</v-card-title>
              <v-card-content>
                <v-table
                  fixed-header
                  height="300px"
                >
                  <thead>
                    <tr>
                      <th class="text-left">
                        Name
                      </th>
                      <th class="text-left">
                        Calories
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="item in desserts"
                      :key="item.name"
                    >
                      <td>{{ item.name }}</td>
                      <td>{{ item.calories }}</td>
                    </tr>
                  </tbody>
                </v-table>
              </v-card-content>
            </v-card>
          </v-col>
        </v-row>
      </v-col>

      <v-col>
        <v-row dense>
            <v-col
              v-for="n in 4"
              :key="n"
              cols="12"
            >
              <v-card
                :title="`Content ${n}`"
                :subtitle="`Subtitle for Content ${n}`"
                text="Lorem ipsum dolor sit amet consectetur, adipisicing elit.?"
              ></v-card>
            </v-col>
          </v-row>
      </v-col>
    </v-row>
    
  </div>
</template>

<script setup>
definePageMeta({
  title: 'Index'
})
</script>

<script>
export default {
  title: 'Index',
  data () {
    return {
      desserts: [
        {
          name: 'Frozen Yogurt',
          calories: 159,
        },
        {
          name: 'Ice cream sandwich',
          calories: 237,
        },
        {
          name: 'Eclair',
          calories: 262,
        },
        {
          name: 'Cupcake',
          calories: 305,
        },
        {
          name: 'Gingerbread',
          calories: 356,
        },
        {
          name: 'Jelly bean',
          calories: 375,
        },
        {
          name: 'Lollipop',
          calories: 392,
        },
        {
          name: 'Honeycomb',
          calories: 408,
        },
        {
          name: 'Donut',
          calories: 452,
        },
        {
          name: 'KitKat',
          calories: 518,
        },
      ],
    }
  },
}
</script>